{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <section class="col m12 s12">
      <div class="km-content">
        <p class="center-align">
          <img src="https://i.imgur.com/xgtPHRc.jpg" alt="games bắn cá">
        </p>
        <h1>BẮN CÁ ĐỔI THƯỞNG 2019 HOT NHẤT TẠI KUBET</h1>
        <p><a href="https://kubet368.com/">Bắn cá đổi thưởng Online</a> là game kiếm tiền hấp dẫn và thịnh hành số 1 hiện nay.
          Bắn cá tiên 3D săn thưởng tại KU Casino là một trong những trò chơi đổi thưởng tiền thật lôi cuốn nhất… Bắn cá
          tiên, bắn cá ăn xu, Bắn cá 3D, bắn cá thần tài, bắn cá solo… Mọi loại hình bắn cá đỉnh cao nhất 2019 đều có
          trên kubet. Còn chần chờ gì nữa mà không đăng ký làm thành viên Ku Casino ngay hôm nay để tận hưởng thế giới
          giải trí hàng đầu Châu Á ngay tại nhà cùng trò chơi bắn cá hấp dẫn nhất 2019!</p>
        <div class="box-banner banca">
          <div>
            <h2 class="center-align">CÁC BƯỚC ĐỂ THAM GIA CASINO TRỰC TUYẾN TRÊN KUBET</h2>
            <div class="col m4 s6 center-align">
              <a href="/huong-dan/huong-dan-dang-ky-tai-khoan-kubet.html&id=3">
                <p class="center-align img"><img src="{% static '/img/img_fishing.png' %}" alt=""></p>
                <h6>ĐĂNG KÝ TÀI KHOẢN</h6>
                <p>Đăng ký một tài khoản giải trí tại kubet.asia nhanh chóng trong 1 phút…</p>
              </a>
            </div>
            <div class="col m4 s6 center-align">
              <a href="/huong-dan/huong-dan-nap-tien-vao-tai-khoan-kubet.html&id=18">
                <p class="center-align img"><img src="{% static '/img/fish-hunter-1-intro.png' %}" alt=""></p>
                <h6>GỬI TIỀN VÀO TÀI KHOẢN</h6>
                <p>Tiến hành gửi tiền vào tài khoản kubet để bắt đầu kiếm lợi nhuận…</p>
              </a>
            </div>
            <div class="col m4 s12 center-align">
              <a href="/huong-dan/huong-dan-rut-tien-kubet-nhanh-chong.html&id=32">
                <p class="center-align img"><img src="{% static '/img/fish-hunter-2-intro.png' %}" alt=""></p>
                <h6>RÚT TIỀN THẮNG</h6>
                <p>Rút ngay khoản tiền thắng của bạn về tài khoản nhanh chóng & bảo mật…</p>
              </a>
            </div>
          </div>
        </div>
        <h2>HƯỚNG DẪN CHƠI BẮN CÁ ĐỔI THƯỞNG TẠI KUBET</h2>
        <p>Mỗi trang nhà cái bắn cá online đều có những đặc trưng riêng, và bắn cá đổi thưởng tại Kubet cũng không phải
          ngoại lệ. Để người chơi không bị bỡ ngõ khi tham gia, <a href="hppts://kubet368.com">nhà cái kubet</a> sẽ
          hướng dẫn các bạn cách chơi và quy tắc game bắn cá online trên kubet chi tiết từ A đến Z có kèm theo hình ảnh.
          Các bạn hãy xem nội dung dưới đây để có thể hiểu rõ nhé!</p>
        <h3>Đăng nhập Kubet – Ku Casino</h3>
        <p>Sau khi đăng nhập xong thì các bạn sẽ thấy hạng mục “BẮN CÁ”. Các bạn chọn “BẮN CÁ”, sẽ hiện lên bảng thông
          báo yêu cầu chuyển điểm vào quỹ Game. Còn trên phiên bản di động các bạn bấm vào hạng mục “GAMES” sau đó chọn
          bắn cá!</p>
        <figure>
          <img src="https://i.imgur.com/RnQyuyK.jpg" alt="Game bắn cá">
          <figcaption>Tiến hành chuyển điểm vào quỹ game bắn cá sau đó bấm “Vào trò chơi”</figcaption>
        </figure>
        <h3>Vào phòng chơi Game bắn cá</h3>
        <p>Sau khi truy cập giao diện Game bắn cá đổi thưởng các bạn sẽ thấy tại đây có rất nhiều phòng chơi từ 1 đến
          80. Những phòng màu đen là phòng game còn trống, các bạn chọn số phòng và bấm để vào game. Đặc trưng của bắn
          cá 3D tại Kucasino đó là mỗi phòng Game chỉ được một người chơi tham gia, nghĩa là thể loại bắn cá tiên solo!
          Dành cho những người có sở thích giải trí một mình và ẵm tiền thưởng lớn</p>
        <figure>
          <img src="https://i.imgur.com/Cr1lAJg.jpg" alt="chơi game bắn cá">
        </figure>
        <p>Sau khi vào bàn chơi hệ thống sẽ yêu cầu chuyển điểm số từ 3D game vào trò chơi bắn cá, các bạn nhập số điểm
          muốn dùng và bấm xác nhận</p>
        <figure>
          <img src="https://i.imgur.com/s2Ioavn.jpg" alt="game bắn cá online">
        </figure>
        <h3>Chức năng trò chơi bắn cá tiên trên Kubet</h3>
        <ul>
          <li>
            <p><strong>Grand:</strong> hiển thị tất cả số tích lũy ở Grand Jackpot.</p>
          </li>
          <li>
            <p><strong>Mega:</strong> hiển thị tất cả số điểm tích lũy ở Mega Jackpot.</p>
          </li>
          <li>
            <p><strong>Mini:</strong> hiển thị tất cả số điểm tích lũy ở Mini Jackpot.</p>
          </li>
          <li>
            <p><strong>Pháo đài:</strong> hiển thị số điểm cược thời điểm tại.</p>
          </li>
          <li>
            <p><strong>Điều chỉnh điểm số đặt cược:</strong> chọn [-] để hạ tiền cược, chọn [+] để nâng tiền cược.</p>
          </li>
          <li>
            <p><strong>Liên thanh/Ngừng:</strong> sau khi chọn chức năng này, ở vị trí ngẫu nhiên trên giao diện bấm
              chuột trái sẽ kích hoạt chức năng bắn liên thanh, mỗi lần bắn hệ thống sẽ tự động chiết khấu số điểm đặt
              cược. Trong lúc tự động công kích thì nút (Liên thanh) sẽ chuyển sang (Ngừng), các bạn có thể dừng chức
              năng công kích liên thanh bất cứ lúc nào.</p>
          </li>
          <li>
            <p><strong>Tài khoản hội viên:</strong> hiển thị tài khoản của người chơi đang đăng nhập.</p>
          </li>
          <li>
            <p><strong>Điểm số:</strong> hiển thị điểm số người chơi đang sở hữu.</p>
          </li>
          <li>
            <p><img src="https://i.imgur.com/cOJ4pxS.png" alt=""> Tổng số điểm thắng được hiện
              tại.</p>
          </li>
          <li>
            <p><img src="https://i.imgur.com/47BDAhk.png" alt=""> Tổng
              điểm đặt cược hiện tại.</p>
          </li>
          <li>
            <p><strong>Bắn trật:</strong> hiển thị số viên đạn công kích không trúng mục tiêu.</p>
          </li>
        </ul>
        <h3>Chức năng cơ bản trong bắn cá 3D</h3>
        <table>
          <tbody>
            <tr>
              <td style="text-align: center;" width="154"><span style="color: #ed1c24;"><strong>Ký hiệu</strong></span>
              </td>
              <td style="text-align: center;" width="162"><span style="color: #ed1c24;"><strong>Chức
                    năng</strong></span></td>
              <td style="text-align: center;" width="357"><span style="color: #ed1c24;"><strong>Lý giải</strong></span>
              </td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/a7ozNa3.png" width="104" height="26"></td>
              <td>Chuyển qua trò chơi khác</td>
              <td>Bấm vào chức năng này sẽ chuyển qua trò chơi khác. Nếu chuyển sang bắn cá online thì sẽ tự động thay
                đổi bàn chơi.</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/opcnBL9.png" width="26" height="26"></td>
              <td>Quay về</td>
              <td>Lựa chọn chức năng này sẽ quay về sảnh chính, tiến hành chọn lại bàn chơi.</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/USa6Swa.png" width="26" height="26"></td>
              <td>Phân khu vực</td>
              <td>Hiển thị khu vực hiện tại.</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/lrhf5Uy.png" width="26" height="26"></td>
              <td>Số bàn</td>
              <td>Hiển thị số bàn trong bắn cá online.</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/nz71Xo2.png" width="26" height="26"></td>
              <td>Danh sách trúng thưởng</td>
              <td>Danh sách trúng thưởng JP, tiền thưởng siêu cấp và giải thưởng Lotto trong game bắn cá.</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/NHQvWZO.png" width="26" height="26"></td>
              <td>Chuyển quỹ</td>
              <td>Chọn chức năng này để chuyển quỹ vào trong game.</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/dOvTG6g.png" width="125" height="26"></td>
              <td>Lịch sử cược</td>
              <td>Chọn chức năng này sẽ cho thấy toàn bộ lịch sử đặt cược của người chơi.</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/xvuWGmr.png" width="26" height="26"></td>
              <td>Hướng dẫn</td>
              <td>Chọn chức năng này để xem hướng dẫn Game.</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/sBS0Ze8.png" width="26" height="26"></td>
              <td>Cài đặt</td>
              <td>Chọn chức năng này để tăng giảm âm lượng lớn nhỏ</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/8R565I9.png" width="26" height="26"></td>
              <td>Kích thước màn hình</td>
              <td>Chọn có thể phóng to thu nhỏ giao diện trò chơi</td>
            </tr>
          </tbody>
        </table>
        <h3>Các phím chức năng trong game Bắn cá</h3>
        <table width="675">
          <tbody>
            <tr>
              <td style="text-align: center;" width="139"><span style="color: #ed1c24;"><strong>Phân
                    nhóm</strong></span></td>
              <td style="text-align: center;" width="343"><span style="color: #ed1c24;"><strong>Chức
                    năng</strong></span></td>
              <td style="text-align: center;" width="193"><span style="color: #ed1c24;"><strong>Phím tắt</strong></span>
              </td>
            </tr>
            <tr>
              <td style="text-align: center;" rowspan="2">1</td>
              <td style="text-align: center;">Nâng mức cược</td>
              <td style="text-align: center;">Phím【↑】</td>
            </tr>
            <tr>
              <td style="text-align: center;">Hạ mức cược</td>
              <td style="text-align: center;">Phím【↓】</td>
            </tr>
            <tr>
              <td style="text-align: center;" rowspan="2">2</td>
              <td style="text-align: center;">Pháo đài qua trái</td>
              <td style="text-align: center;">Phím【←】</td>
            </tr>
            <tr>
              <td style="text-align: center;">Pháo đài qua phải</td>
              <td style="text-align: center;">Phím【→】</td>
            </tr>
            <tr>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">Bắn</td>
              <td style="text-align: center;">Phím cách / Enter</td>
            </tr>
            <tr>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">Ngừng bắn liên thanh</td>
              <td style="text-align: center;">Nhấp chuột trái hai lần</td>
            </tr>
          </tbody>
        </table>
        <p>※ Giữ [Phím cách] / [Enter] để bắn liên thanh, nhả phím ra sẽ dừng công kích.</p>
        <p>※ Bấm nút [Liên thanh] để bật chế độ bắn liên thanh, chọn [Ngưng] hoặc click đúp chuột trái để tắt chức năng
          bắn liên thanh.</p>
        <h3>Tiền thưởng trong bắn cá 3d 2019</h3>
        <strong>Tiền thưởng tích lũy</strong>
        <ul>
          <li>
            <p>Trong game bắn cá đổi thưởng 2019 có 3 dạng tiền thưởng tích lũy đó là Grand, Mega, Mini. Người chơi khi
              truy cập vào trò chơi có thể kiểm tra trạng thái của tiền thưởng tích lũy ngay ở màn hình chính.</p>
          </li>
          <li>
            <p>Mỗi khi thỏa mãn điều kiện trúng thưởng của 1 trong 3 dạng tiền thưởng tích lũy thì có thể giành được
              toàn bộ quỹ tiền thưởng tương đương.</p>
          </li>
          <li>
            <p>Khi trạng thái quỹ tiền thưởng sáng lên, mỗi một người chơi đều có cơ hội đạt được tiền thưởng tích lũy
              tuy nhiên cơ hội nhận tiền thưởng sẽ phụ thuộc số lượng điểm cược của người chơi. Đối với hạng mục tiền
              thưởng tích lũy JP, khi người chơi tham gia với điểm cược càng lớn thì khả năng nhận được tiền thưởng tích
              lũy càng lớn.</p>
          </li>
        </ul>
        <strong>Tiền thưởng may mắn</strong>
        <p>Khi người chơi tham gia trò chơi thì sẽ có xác suất kích hoạt tiền thưởng may mắn.</p>
        <strong>Hộp báu thần bí</strong>
        <figure>
          <img src="https://i.imgur.com/ak11vBF.jpg" alt="">
        </figure>
        <ul>
          <li>
            <p>Khi người chơi tham gia bắn cá tiên online thì sẽ có xác suất kích hoạt tiền thưởng may mắn, giành được
              một cách tùy ý hộp báu thần bí.</p>
          </li>
          <li>
            <p>Khi hòm báu thần bí được thả xuống, người chơi nhấp chuột vào hòm báu ngay ở giao diện thì sẽ có khả năng
              nhận được tiền thưởng.</p>
          </li>
        </ul>
        <h3>Tỷ lệ trúng thưởng của từng loại cá</h3>
        <strong>Bảng tỷ lệ cá thường</strong>
        <table>
          <tbody>
            <tr>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Hạng mục</strong></span>
              </td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Vua cá mập</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá mập voi</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá mập búa</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá đuối</strong></span>
              </td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá đèn lồng</strong></span></td>
            </tr>
            <tr>
              <td style="text-align: center;">Hình ảnh</td>
              <td><img src="https://i.imgur.com/xRK20Q7.png"></td>
              <td><img src="https://i.imgur.com/Vf3sTYt.png"></td>
              <td><img src="https://i.imgur.com/p81aK1Z.png"></td>
              <td><img src="https://i.imgur.com/UN5L4Ww.png"></td>
              <td><img src="https://i.imgur.com/V0L4HUm.png"></td>
            </tr>
            <tr>
              <td style="text-align: center;">Tỷ lệ</td>
              <td style="text-align: center;">500</td>
              <td style="text-align: center;">60</td>
              <td style="text-align: center;">50</td>
              <td style="text-align: center;">40</td>
              <td style="text-align: center;">16</td>
            </tr>
            <tr>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Hạng mục</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Rùa biển</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá nóc</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Tôm hùm</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Bạch tuộc</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá sư tử</strong></span></td>
            </tr>
            <tr>
              <td style="text-align: center;">Hình ảnh</td>
              <td><img src="https://i.imgur.com/RzpcUz8.png"></td>
              <td><img src="https://i.imgur.com/aeMj0oa.png"></td>
              <td><img src="https://i.imgur.com/D5vDoq3.png"></td>
              <td><img src="https://i.imgur.com/llKYNXF.png"></td>
              <td><img src="https://i.imgur.com/IYFwz0Q.png"></td>
            </tr>
            <tr>
              <td style="text-align: center;">Tỷ lệ</td>
              <td style="text-align: center;">14</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">10</td>
              <td style="text-align: center;">8</td>
              <td style="text-align: center;">6</td>
            </tr>
            <tr>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Hạng mục</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá đĩa</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá thần tiên</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá chuồn</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá hề</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Sứa</strong></span></td>
            </tr>
            <tr>
              <td style="text-align: center;">Hình ảnh</td>
              <td><img src="https://i.imgur.com/y71qKj8.png"></td>
              <td><img src="https://i.imgur.com/ckQX8G5.png"></td>
              <td><img src="https://i.imgur.com/O6umv5I.png"></td>
              <td><img src="https://i.imgur.com/u7KNoIk.png"></td>
              <td><img src="https://i.imgur.com/gD1wNyw.png"></td>
            </tr>
            <tr>
              <td style="text-align: center;">Tỷ lệ</td>
              <td style="text-align: center;">5</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">2</td>
              <td style="text-align: center;">1</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>
            <p>Nếu đang chơi mà bị mất liên kết mạng thì hệ thống bắn cá 3D sẽ tự động xác định kết quả dừng lại trong
              lượt bắn đó.</p>
          </li>
          <li>
            <p>Trường hợp không thể mở hòm báu vì lỗi thiết bị của người chơi thì kết quả cuối cùng của trò chơi sẽ
              không tính tiền thưởng hộp báu đồng thời chúng tôi sẽ không tiến hành bồi thường.</p>
          </li>
        </ul>
        <strong>Bảng tỷ lệ cá hoàng kim</strong>
        <table>
          <tbody>
            <tr>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Hạng mục</strong></span>
              </td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Vua cá
                    mập</strong></span></td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Rùa biển</strong></span>
              </td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá nóc</strong></span>
              </td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Tôm hùm</strong></span>
              </td>
              <td style="text-align: center;"><span style="color: #ed1c24;"><strong>Cá sư tử</strong></span>
              </td>
            </tr>
            <tr>
              <td style="text-align: center;">Hình ảnh</td>
              <td style="text-align: center;"><img src="https://i.imgur.com/0ArtPAF.png">
              </td>
              <td><img src="https://i.imgur.com/NkUFHpD.png"></td>
              <td><img src="https://i.imgur.com/RdwJhyE.png"></td>
              <td><img src="https://i.imgur.com/uDu7FQB.png"></td>
              <td><img src="https://i.imgur.com/aQj5deZ.png"></td>
            </tr>
            <tr>
              <td style="text-align: center;">Tỷ lệ</td>
              <td style="text-align: center;">1000</td>
              <td style="text-align: center;">28</td>
              <td style="text-align: center;">24</td>
              <td style="text-align: center;">20</td>
              <td style="text-align: center;">12</td>
            </tr>
            <tr>
              <td style="text-align: center;"><strong><span style="color: #ed1c24;">Hạng mục</span></strong></td>
              <td style="text-align: center;"><strong><span style="color: #ed1c24;">Cá đĩa</span></strong></td>
              <td style="text-align: center;"><strong><span style="color: #ed1c24;">Cá thần tiên</span></strong></td>
              <td style="text-align: center;"><strong><span style="color: #ed1c24;">Cá chuồn</span></strong></td>
              <td style="text-align: center;"><strong><span style="color: #ed1c24;">Cá hề</span></strong></td>
              <td style="text-align: center;">&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: center;">Hình ảnh</td>
              <td style="text-align: center;"><img src="https://i.imgur.com/xQXNh9n.png">
              </td>
              <td><img src="https://i.imgur.com/V4wwNXs.png"></td>
              <td><img src="https://i.imgur.com/lMJZ4Qe.png"></td>
              <td><img src="https://i.imgur.com/NG1yOVy.png"></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: center;">Tỷ lệ</td>
              <td style="text-align: center;">10</td>
              <td style="text-align: center;">8</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">4</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <strong>Phần thưởng khi diệt được các loại cá đặc biệt</strong>
        <table>
          <tbody>
            <tr>
              <td style="text-align: center;" ><span style="color: #ed1c24;"><strong>Hình ảnh</strong></span>
              </td>
              <td style="text-align: center;" ><span style="color: #ed1c24;"><strong>Thuyết minh</strong></span></td>
              <td style="text-align: center;" ><span style="color: #ed1c24;"><strong>Phần thưởng</strong></span></td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/7NJmtcG.png"></td>
              <td>Trong trò chơi tiêu diệt được Sứa</td>
              <td style="text-align: center;">Bắn miễn phí</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/6ydWQeg.png"></td>
              <td>Trong trò chơi tiêu diệt được cá tiên tóc vàng</td>
              <td style="text-align: center;">Mini Jackpot</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/vB36VGU.png"></td>
              <td>Trong trò chơi tiêu diệt được cá tiên tóc xanh</td>
              <td style="text-align: center;">Mega Jackpot</td>
            </tr>
            <tr>
              <td><img src="https://i.imgur.com/RkmQg9o.png"></td>
              <td>Trong trò chơi tiêu diệt được cá tiên tóc đỏ</td>
              <td style="text-align: center;">Grand Jackpot</td>
            </tr>
          </tbody>
        </table>
        <h3>Các loại vũ khí đặc biệt trong bắn cá đổi thưởng 2019</h3>
        <strong>Pháo điện từ</strong>
        <figure><img src="https://i.imgur.com/d25loPQ.gif" alt="pháo điện từ"></figure>
        <ul>
          <li><p>Khi kích hoạt sẽ công kích một tia điện từ thẳng cùng phạm vi rộng, tiêu diệt toàn bộ cá nằm trong phạm vi sát thương của vũ khí.</p></li>
          <li><p>Công cụ này có được khi tiêu diệt được cá ngẫu nhiên và phụ thuộc vũ khí đang sử dụng hiện tại mà nhận được loại pháo điện từ tương xứng với cấp độ của pháo.</p></li>
          <li><p>Chỉ được sử dụng trong 1 lần công kích, người chơi sẽ thao tác điều khiển pháo điện từ.</p></li>
          <li><p>Sau khi kích hoạt người chơi sẽ điều khiển phương hướng đồng thời bắn pháo điện từ trong vòng 3 giây.</p></li>
        </ul>
        <strong>Bom nguyên tử</strong>
        <figure>
          <img src="https://i.imgur.com/rueHVwc.gif" alt="bom nguyên tử">
        </figure>
        <ul>
          <li><p>Khi bom kích hoạt bom nguyên tử thì toàn bộ cá xuất hiện trong màn hình trò chơi sẽ bị tiêu diệt hết đem lại số điểm lớn.</p></li>
          <li><p>Chức năng này có được khi người chơi công kích loại cá bất kỳ, pháo điện từ được kích hoạt sẽ tương đương với cấp độ của pháo.</p></li>
          <li><p>Chỉ được kích hoạt đúng 1 lần, sau khi sở hữu bom sẽ tự động kích nổ.</p></li>
        </ul>
        <h3>Bắn cá miễn phí</h3>
        <p>Người chơi chỉ cần tiêu diệt được “Sứa” thì lập tức được tham gia trò chơi này.</p>
        <figure>
          <img src="https://i.imgur.com/rGgQ99a.jpg" alt="bắn sứa">
        </figure>
        <ul>
          <li><p>Tỷ lệ của Sứa sẽ được hệ thống bắn cá 3D chọn ngẫu nhiên là 1 lần, 2 lần, 5 lần.</p></li>
          <li><p>Trong bắn cá miễn phí, người chơi sẽ sở hữu miễn phí 300 viên đạn để bắn. Số đạn này cần sử dụng hết trong vòng 1 phút, nếu vượt quá 1 phút thì pháo sẽ tự động bắn, khi đó người chơi chỉ có thể điều khiển góc độ của pháo bắn và không thể ngừng bắn. Trường hợp đã bắn hết đạn nhưng trong màn hình trò chơi đạn vẫn đang bay thì phải chờ số đạn đó tiêu hao hết mới quay trở về giao diện trò chơi bình thường.</p></li>
          <li><p>Khi người chơi bị mất kết nối, số lượng đạn chưa dùng sẽ không được tính, hệ thống sẽ tự ghi nhận kết quả sau cùng trước khi mất kết nối để xác định kết quả.</p></li>
        </ul>
        <h2>HỖ TRỢ BẮN CÁ TRÊN KUBET.ASIA</h2>
        <div class="row">
          <div class="col m6 s12">
            <img src="/static/img/img_fishing.png" alt="">
          </div>
          <div class="col m6 s12">
            <p>Thế giới bắn cá siêu thú vị và vô vàn sắc màu. Hiện nay bắn cá đổi thưởng 2019 tại kubet được đánh giá là một trong những trò chơi HOT nhất không chỉ bởi giá trị giải trí mà nó đem đến mà còn trong tỷ lệ trúng thưởng cực kỳ hấp dẫn. KUBET.ASIA – Cổng <a href="kubet368.com"> game đổi thưởng</a> uy tín hàng đầu Châu Á. Nạp rút siêu tốc và bảo mật tuyệt đối. Bắn cá tiên online tại kubet đang là lựa chọn hàng đầu của hàng ngàn người chơi! Hãy tham gia ngay hôm nay thôi!</p>
            <p class="center-align">
              <a itemprop="url" href="http://dk.ku888.pro" target="_blank"
                class="btn-large orange regis-now text-bold pulse">Đăng ký ngay</a>
            </p>
            <p class="uppercase">CÁC BẠN LƯU Ý ĐĂNG KÝ HỘI VIÊN CÙNG TÀI KHOẢN ĐẠI LÝ <span class="text-red">DQ3607</span>
              ĐỂ ĐƯỢC
              HƯỞNG ƯU ĐÃI HOÀN TRẢ <span class="text-red">1%</span> LÊN ĐẾN <span class="text-red">6.000.000 đ</span> MỖI
              TUẦN CHỈ CÓ TẠI kubet NHÉ!</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}