{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <section class="col m8 s12 child-content" itemprop="articleBody">
      <div class="km-content">
        <p><a href="/khuyen-mai/" alt="game đánh bài đổi thưởng 2020">Khuyến Mãi 50K</a> cho thành viên mới, <a href="/khuyen-mai/hoan-tra-casino-tuan-len-den-2999000-vnd-tai-ku-casino.html&id=28" alt="game đánh bài">hoàn trả Casino</a> lên đến 2.999.999 đ/tuần tại KuCasino, hoàn trả cược thể thao hàng tuần,... để biết thêm thông tin chi tiết mời các bạn xem 1 trong các link dưới đây:</p>
        <p>Kubet là nhà cái uy tín hàng đầu châu á, với nhiều hoạt động cá cược và và giải trí. được xây dựng với các công
          nghệ tân tiến và hiện đại nhất, là nhà cái quốc tế có trụ sở chính tại Phillipine. được cấp phép hoạt động do tập đoàn
          PAGCOR, Tập đoàn giải trí và trò chơi Phillipines quản lý các hoạt động kinh doanh cá cược tại Phillipines.</p>
        <p>những lý do bạn chọn kubet cho hoạt động giải trí và thể thao của mình.</p>
        <ul class="decimal">
          <li>Khuyến mãi hấp dẫn.</li>
          <li>Bảo mật thông tin khách hàng.</li>
          <li>Phí hoàn trả cược hàng tuần cao.</li>
          <li>Hỗ trợ, giải đáp thắc mắc 24/7 mọi lúc mọi nơi, hướng dẫn cho người chơi mới từng bước giúp bạn làm quen với hệ
            thống tối tân hiện đại của chúng tôi.</li>
          <li>Nạp tiền, rút tiền cực nhanh chỉ 2p tiền sẽ về tài khoản của bạn bất kể ngày đêm</li>
        </ul>
        <p>Nạp lần đầu tặng 20% tối đa nhận 588k.</p>
        <p>xem phim miễn phí với kho <a href="" alt="phim người lớn"><strong>phim</strong></a> khổng lồ, giúp bạn giải trí sau
          giờ làm việc căng thẳng.</p>
        <p>dàn <a href="/anh-nong-18/anh-ngan-98.html" alt="ảnh nude 18+" target="_blank">girl xinh</a> trong live casino tùy bạn lựa chọn
        </p>
        <p><a href="/ku-casino.html" alt="game đánh bài">game đánh bài đổi thưởng 2019</a> là game đánh bài trực tuyến hay còn
          gọi là <a href="/ku-casino.html" alt="game đánh bài">casino trực tuyến</a> là loại hình cá cược online hợp pháp được
          bảo hộ tại nước ngooài, game đánh bài này so với hình thức đánh bài truyền thống thì tiện lợi và an toàn hơn, vì bạn
          không cần tiền mặt mà chỉ nhận và chuyển tiền qua ATM trên chính điện thoại hoặc máy tính của bạn. ngooài ra nó còn
          tiện lợi có thể chơi bất cứ nơi nào miễn bạn có điện thoại mart phone của mình và có kết nối mạng.</p>
        <p><a href="/ku-casino.html" alt="cách đánh bài">cách đánh bài</a> online không khác gì so với bạn chơi các thể loại
          đánh bài hiện nay nhưng ưu điểm của chúng tôi là bạn có thể rút tiền về tài khoản của mình và sử dụng, chứ không như
          các game đánh bài thông thường chỉ có thể nạp tiền, thắng lớn không thể rút tiền để sử dụng được.</p>
        <p><a href="/huong-dan/huong-dan-dang-ky-tai-khoan-kubet.html&id=3" alt="tải đánh bài">Tải game đánh bài</a> là hoàn toàn miễn phí nếu bạn không biết
          cách tải hãy liên hệ với hỗ trợ của chúng tôi, bạn sẽ được hỗ trợ tận tình nhất, quét QR code hoặc click add sdt để
          được hỗ trợ đăng ký tải game bài miến phí.</p>
        <p>với những lý do tuyệt vời trên bạn còn chần chờ gì nữa, hãy đăng ký và trải nghiệm ngay dịch vụ của chúng tôi.</p>
        <p>click vào link đăng ký trên đầu trang hoặc Scan Zalo để được hướng dẫn cụ thể.</p>
        <blockquote>
          <p class="center">
            <a itemprop="url" href="http://dk.ku888.pro" target="_blank" class="btn-large orange regis-now text-bold pulse">Đăng ký ngay</a>
          </p>
          <p class="uppercase">CÁC BẠN LƯU Ý ĐĂNG KÝ HỘI VIÊN MỚI NHẬP MÃ <span class="text-red">TÀI KHOẢN ĐẠI LÝ</span><span class="ttl"> DQ3607</span> sẽ được khuyến mãi ngay <span class="text-red">50k</span> sau khi xác minh thông tin
            thành công, ngoài ra còn được hỗ trợ HƯỞNG ƯU ĐÃI HOÀN TRẢ <span class="text-red">1%</span> LÊN ĐẾN <span class="text-red">6.000.000 đ</span> MỖI TUẦN CHỈ CÓ TẠI kubet368.com NHÉ!</p>
          <p class="text-center">Sau khi mở tài khoản và đăng nhập KUBET thành công, các bạn bấm “THỂ THAO” trên thanh “Menu” và lựa chọn “JZ THỂ THAO” để vào xem bảng kèo đồng thời cá cược bóng đá tại KUBET</p>
          <p class="center">
            <img src="{% static '/img/ku-the-thao.jpg' %}" alt="KU thể thao">
          </p>
        </blockquote>
      </div>
      <ul class="collection">
        {% for blog in listarticle reversed %}
          <li class="collection-item">
              <a href="/khuyen-mai/{{ blog.art_slug }}.html&id={{ blog.art_id }}">
                <img src="{{ blog.art_img.url }}" alt="{{ blog.art_name }}">
                <p><span class="ttl">{{ blog.art_name }}</span><br>
                  <span class="date"><i class="material-icons">access_time</i>{{ blog.date_create | date:"d M, Y" }}</span>
                  {{ blog.art_mo_ta | safe }} [...]</p>
              </a>
            </li>
        {% endfor %}
      </ul>
    </section>
    <aside class="col m4 s12">
      {% include '../widgets/aside.html' %}
    </aside>
  </div>
</div>
{% endblock %}