{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <section class="col m12 s12">
        <p class="_center"><img src="{% static 'img/article/xo-so-online.jpg' %}" alt=""></p>
        <h1>Chơi xổ số Online tại Kubet trúng lớn mỗi ngày.</h1>
        <hr>
        <div class="km-content">
          Với ưu điểm bảo mật tuyệt đối, tỷ lệ đền 1 ăn 99 cao ngất ngưởng so với lô đề ghi trực tiếp ở ngoài. Người chơi có thể đánh bất kỳ lúc nào, tại bất kỳ đâu ngay khi có ý tưởng về những con số. Thanh toán vô cùng uy tín, rút tiền thắng ngay lập tức sau khi có kết quả, nhận tiền sau 5 phút nhanh chóng và bảo mật. Xổ số online trên KUBET.ASIA – Sự lựa chọn hàng đầu dành cho người yêu thích những con số!
          <div class="col m12 s12">
            <p class="center">
              <a itemprop="url" href="http://dk.ku888.pro" target="_blank" class="btn-large orange regis-now text-bold pulse">Đăng ký ngay</a>
            </p>
            <p class="uppercase">CÁC BẠN LƯU Ý ĐĂNG KÝ HỘI VIÊN CÙNG TÀI KHOẢN ĐẠI LÝ <span class="text-red">DQ3607</span> ĐỂ ĐƯỢC
              HƯỞNG ƯU ĐÃI HOÀN TRẢ <span class="text-red">1%</span> LÊN ĐẾN <span class="text-red">6.000.000 đ</span> MỖI
              TUẦN CHỈ CÓ TẠI KUBET NHÉ !</p>
          </div>
          <div class="col m4 s6">
            <img src="{% static 'img/article/ket-qua-so-xo.gif' %}" title="Kết quả xổ số" />
          </div>
          <div class="col m4 s6">
            <img src="{% static 'img/article/lo-de.gif' %}" alt="soi cầu hôm nay lô đề 3 miền">
          </div>
          <div class="col m4 s12">
            <img src="{% static 'img/article/giai-ma-giac-mo.gif' %}" alt="giải mã giấc mơ">
          </div>
        </div>
      </section>
      <h2 class="h2 center clearfix">Hướng dẫn chơi xổ số online tại KUBET</h2>
      <section class="col m8 s12">
        <p>Xổ số trực tuyến tại Kubet với lợi thế tỷ lệ trúng thưởng cao ngất ngưởng 1 ăn 99 vô cùng hấp dẫn, thanh toán tiền thắng cực kỳ nhanh chóng & bảo mật. Sau đây chúng tôi sẽ hướng dẫn cách vào chơi lô đề online trên cả giao diện di động và máy tính. Mời anh em theo dõi hướng dẫn qua nội dung và hình ảnh dưới đây:</p>
        <p>Bước 1: Đăng nhập và truy cập Xổ số KUBET</p>
        <p>Các bạn có thể bấm vào <a href="http://dk.ku888.pro">link đăng nhập kubet</a> hoặc anh em nào đã cài đặt ứng dụng thì mở ứng dụng lên và tiến hành đăng nhập. Nếu chưa có ứng dụng các bạn có thể xem hướng dẫn tại >>> <a href="/huong-dan/tai-app">Tải Ku App</a></p>
        <p class="center">Sau khi đăng nhập các bạn bấm vào hạng mục “XỔ SỐ”<br>
          <img src="https://i.imgur.com/ht59fO4.jpg" alt="XỔ SỐ KUBET"><br>
          Sau khi vào hạng mục “XỔ SỐ” các bạn chọn “XS Việt Nam”<br>
          <img src="https://i.imgur.com/0uQI0Yu.jpg" alt="XS Việt Nam">
        </p>
        <p>Bước 2: Chọn Đài xổ số và đánh lô đề trên KUBET</p>
        <p>Trong nội dung này chúng tôi sẽ lấy Đài Hà Nội làm ví dụ => Sau khi chọn XS Việt Nam các bạn chọn tiếp Đài Hà Nội.</p>
        <p class="center">
          <img src="https://i.imgur.com/Tz3ydxL.jpg" alt=""><br>
          Để đánh đề giải Đặc biệt trên Kubet chúng ta bấm mũi tên xổ xuống và chọn 2D Đơn thức – Đuôi<br>
          <img src="https://i.imgur.com/e0zzTQQ.jpg" alt="đánh đề giải Đặc biệt"><br>
          Các bạn nhập những con số muốn đánh vào ô trống và bấm Xác nhận<br>
          <img src="https://i.imgur.com/yweu6yS.jpg" alt="đánh đề đầu đuôi"><br>
          Nhập số điểm muốn đánh vào ô tiền cược và bấm Xác nhận<br>
          <img src="https://i.imgur.com/ykmfKFp.jpg" alt="đánh đề bao lô"><br>
          Vậy là các bạn đã tiến hành đặt cược thành công giải Đặc Biệt (2 số cuối). Để xem lại lịch sử đặt cược các bạn bấm vào biểu tượng tờ phơi trên góc phải<br>
          <img src="https://i.imgur.com/SsAG9g8.jpg" alt="đánh đề miền bắc"><br>
          <img src="https://i.imgur.com/pyoKQo8.jpg" alt="đánh đề miền nam">
        </p>
      </section>
      <aside class="col m4 s12">
        {% include '../widgets/aside.html' %}
        <ul class="collection ar-aside">
          {% for blog in blogs reversed %}
            <li class="collection-item">
                <a href="/xo-so/bai-viet.html?id={{ blog.art_id }}">
                  <img src="{{ blog.art_img.url }}" alt="{{ blog.art_name }}">
                  <p><span class="ttl">{{ blog.art_name }}</span><br>
                  <span class="date"><i class="material-icons">access_time</i>{{ blog.date_create | date:"d M, Y" }}</span>
                    {{ blog.art_mo_ta | safe }} [...]</p>
                </a>
              </li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
{% endblock %}
