{% load static %}
<div class="aside-wrap">
  <h2>Liên hệ zalo:</h2>
    <a href="https://zalo.me/jade2004" target="_blank"><strong>+84 978 610 146</strong></a>
  <div class="img-bd">
    <a href="https://zalo.me/jade2004" target="_blank">
      <img src="{% static 'img/zalo.jpg' %}" alt="liên hệ nhận khuyến mãi">
    </a>
  </div>
  <div class="gallery">
    <div class="ttl-aside fnt2">
      <span>Ảnh nóng 18+</span>
      <div class="nen"><i class="material-icons">grade</i>
      </div>
    </div>
    <div class="gallery-thumb">
      <a href="/anh-nong-18/album-18-cua-gai-xinh.html&id=36" title="chụp hình cùng gấu" target="_blank"><img src="{% static 'img/gallery/chup-anh-cung-gau.jpg' %}" alt="chụp hình cùng gấu"></a>
      <a href="/anh-nong-18/cosplay-y-ta-sexy.html&id=37" title="cô y tá gợi cảm" target="_blank"><img src="{% static 'img/gallery/co-y-ta-goi-cam.jpg' %}" alt="cô y tá gợi cảm"></a>
      <a href="/anh-nong-18/tiep-vien-hang-khong-dang-chuan.html&id=38" tilte="tiếp viên hàng không" target="_blank"><img src="{% static 'img/gallery/em-tiep-vien-hang-khong-xinh-dep.jpg' %}" alt="tiếp viên hàng không"></a>
      <a href="/anh-nong-18/gai-xinh-trong-phong-tam.html&id=39" title="ảnh nude trong nhà nghỉ" target="_blank"><img src="{% static 'img/gallery/gai-xinh-bi-chup-len.jpg' %}" alt="ảnh nude trong nhà nghỉ"></a>
      <a href="/anh-nong-18/ngan-98-khoe-vong-1-goi-cam.html&id=40" title="Ngân 98 nude" target="_blank"><img src="{% static 'img/gallery/ngan-98.jpg' %}" alt="Ngân 98 nude"></a>
    </div>
  </div>
  <div class="tags-name">
    <div class="ttl-aside fnt2">
      <span>Tags</span>
      <div class="nen"><i class="material-icons">grade</i>
      </div>
      <div class="tags-content">
        <a href="https://kube368.com/ku-casino.html" alt="đánh bài online">đánh bài online,</a>
        <a href="https://kube368.com/xo-so-online.html" alt="xổ số miền nam">xổ số miền nam,</a>
        <a href="https://kube368.com/ku-casino.html" alt="game bắn cá">game bắn cá,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="cá độ bóng đá">cá độ bóng đá,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="nhà cái uy tín">nhà cái uy tín,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="ảnh nude 18+">ảnh nude 18+,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="ảnh khỏa thân">ảnh khỏa thân,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="phim người lớn">phim người lớn,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="khuyễn mãi nạp thẻ">khuyễn mãi nạp thẻ,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="ảnh khỏa thân">ảnh khỏa thân,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="Serial A">Serial A,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="Ngoại hạng anh">Ngoại hạng anh,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="Champion Legend">Champion Legend,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="World Cup">World Cup,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="kết quả xổ số">kết quả xổ số,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="game đánh bài đổi thưởng 2019">game đánh bài đổi thưởng 2019,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="game đánh bài đổi thưởng mới nhất 2019">game đánh bài đổi thưởng mới nhất 2019,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="game đánh bài">game đánh bài,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="game bài">game bài,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="cách đánh bài">cách đánh bài,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="đánh bài tiến lên">đánh bài tiến lên,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="đánh bài online">đánh bài online,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="đánh bài đổi thưởng">đánh bài đổi thưởng,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="tải đánh bài">tải đánh bài,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="chơi đánh bài">chơi đánh bài,</a>
        <a href="https://kube368.com/khuyen-mai-kubet-asia.html" alt="mơ đánh bài">mơ đánh bài,</a>
      </div>
    </div>
  </div>
</div>