{% load static %}
<div class="container">
  <div class="row">
    <div class="footer-top">
      <div class="col m2 s12"><a href="/" class="logo-footer" alt="KUBET"><img src="{% static 'img/logo-web.png' %}" alt="KUBET"></a></div>
      <div class="col m10 s12">
        <div class="col-flex">
          <div class="col-left">
            <p>WEBSITE GIẢI TRÍ TRỰC TUYẾN HÀNG ĐẦU CHÂU Á<br>Thể thao, Casino trực tuyến, Keno, Xổ số, Game...</p>
          </div>
          <div class="col-right">
            <img src="{% static 'img/pagcor-1.png' %}" alt="PAGCOR">
            <p>Điều hành bởi Tập đoàn giải trí và trò chơi Philippines <br>Cơ quan chính phủ quản lý cá cược.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="col m5 s12">
        <h3 class="ttl">Nhà cái uy tín 2019</h3>
        <p>KUBET mang lại cho khách hàng dịch vụ cá cược trực tuyến đỉnh cao với hàng trăm sản phẩm đặt cược hấp dẫn như: Thể Thao, Casino, Xổ số,.... Nền tảng đặt cược công nghệ tiên tiến, hệ thống bảo mật tối tân. kube368.com đảm bảo đưa lại những trải nghiệm cá cược trực tuyến hàng đầu cho người chơi.</p>
        <p>KUBET được cấp phép hoạt động hợp pháp bởi PAGCOR (Philippine Amusement and Gaming Corporation) – Tập đoàn Giải trí và Trò chơi Philippines, là một tập đoàn quản lý hoạt động kinh doanh cá được tại Philippines.</p>
        <p>Tham gia Cá cược online tại KUBET, Quý hội viên sẽ được bảo hộ bởi luật pháp nước ngoài. Chúng tôi luôn nỗ lực mỗi ngày để mang lại cho Quý khách giá trị thiết thực nhất, chính là sự An toàn - Bảo mật - Hợp pháp.</p>
        
      </div>
      <div class="col m7 s12">
        <h3 class="ttl">hệ thống thanh toán</h3>
        <div class="career">
          <img src="{% static '/img/bank_acb.png' %}" alt="ACB Bank">
          <img src="{% static '/img/bank_bidv.png' %}" alt="BIDV Bank">
          <img src="{% static '/img/bank_donga.png' %}" alt="DongA Bank">
          <img src="{% static '/img/bank_sacom.png' %}" alt="Sacom Bank">
          <img src="{% static '/img/bank_techcom.png' %}" alt="Techcom Bank">
          <img src="{% static '/img/bank_vietcom.png' %}" alt="Vietcom Bank">
          <img src="{% static '/img/bank_vietin.png' %}" alt="Viettin Bank">
        </div>
      </div>
    </div>
    <div class="copyright-footer"> Copyright 2019 © <strong>kube368.com</strong></div>
  </div>
</div>
<a href="#top" class="back-to-top" id="top-link"><i class="material-icons">keyboard_arrow_up</i></a>
<div class="sidenav-overlay"></div>