{% load static %}
<div class="container">
  <div class="row">
    <div class="wrap">
      <div class="nav-mobi hide-on-large-only col m3 s3">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
        <div class="logo col l1 m6 s6 center-align">
          <a href="/"><img src="{% static 'img/logo-web.png' %}" alt="Kubet Asia"></a>
        </div>
        <div class="menu col l10  hide-on-med-and-down">
          <div class="slogan"><marquee behavior="scroll" direction="left"><span>kube368.com là trang đăng ký và hỗ trợ thành viên KUBET - Nhà cái bóng đá, casino, game đổi thưởng và lô đề trực tuyến uy tín nhất 2019!</span></marquee>
          </div>
            <nav>
              <ul>
                <li>
                  <a href="/" alt="Kubet">KUBET</a>
                </li>
                <li><a href="/the-thao/" alt="kubet the thao">Thể Thao<i class="large material-icons">expand_more</i></a>
                  <ul class='nav-child'>
                    <li><a href="/the-thao/ket-qua-bong-da-nhanh-va-chinh-xac-nhat.html&id=4" alt="kết quả bóng đá">KQBD</a></li>
                    <li><a href="/the-thao/soi-keo-nha-cai/3" alt="soi kèo nhà cái">soi kèo nhà cái</a></li>
                    <li><a href="/the-thao/tin-bong-da/1" alt="tin bóng đá">tin bóng đá</a></li>
                    <li><a href="/the-thao/video-bong-da/4" alt="video bóng đá">video bóng đá</a></li>
                  </ul>
                </li>
                <li><a href="/ku-casino.html" class="has-icon"><img src="{% static 'img/iconmc.png' %}" alt="KU CASINO"><span> Ku Casino</span></a></li>
                <li><a href="/xo-so/" alt="xổ số">Xổ Số<i class="large material-icons">expand_more</i></a>
                  <ul class='nav-child'>
                    <li><a href="/xo-so/xo-so-online.html" alt="kết quả sổ số">KQXS</a></li>
                    <li><a href="/xo-so/soi-cau/2" alt="soi cầu">soi cầu</a></li>
                    <li><a href="/xo-so/xo-mo.html" alt="sổ mơ">sổ mơ</a></li>
                    <li><a href="/xo-so/giai-ma-giac-mo/6" alt="giải mã giấc mơ">giải mã giấc mơ</a></li>
                  </ul>
                </li>
                <li><a href="/games/8" alt="games">games</a></li>
                <li><a href="/ban-ca.html" alt="bắn cá">bắn cá</a></li>
                <li><a href="/huong-dan/" alt="hướng dẫn">hướng dẫn<i class="large material-icons">expand_more</i></a>
                  <ul class='nav-child'>
                    <li><a href="/huong-dan/huong-dan-dang-ky-tai-khoan-kubet.html&id=3" alt="hướng dẫn đăng ký">đăng ký</a></li>
                    <li><a href="/huong-dan/huong-dan-tai-app-kubet-tren-iphone-va-android.html&id=16" alt="hướng dẫn tải app">tải app</a></li>
                    <li><a href="/huong-dan/huong-dan-mo-khoa-nap-tien.html&id=17" alt="mở khóa nạp tiền">mở khóa nạp tiền</a></li>
                    <li><a href="/huong-dan/huong-dan-nap-tien-vao-tai-khoan-kubet.html&id=18" alt="hướng dẫn nạp tiền">nạp tiền</a></li>
                    <li><a href="/huong-dan/huong-dan-rut-tien-kubet-nhanh-chong.html&id=32" alt="hướng dẫn rút tiền">rút tiền</a></li>
                  </ul>
                </li>
                <li><a href="/kinh-nghiem/" alt="kinh nghiệm">kinh nghiệm<i class="large material-icons">expand_more</i></a>
                  <ul class='nav-child'>
                    <li><a href="/cuoc-the-thao/13" alt="kinh nghiệm cược thể thao">cược thể thao</a></li>
                    <li><a href="/choi-casino/14" alt="kinh nghiệm chơi casino">kinh nghiệm chơi casino</a></li>
                    <li><a href="/choi-lo-de/15" alt="kinh nghiệm chơi lô đề">kinh nghiệm chơi lô đề</a></li>
                    <li><a href="/choi-ban-ca/16" alt="kinh nghiệm chơi bắn cá">kinh nghiệm chơi bắn cá</a></li>
                    <li><a href="/choi-game-slot/17" alt="kinh nghiệm chơi game slot">kinh nghiệm chơi game slot</a></li>
                  </ul> 
                </li>
                <li><a href="/khuyen-mai/" alt="khuyến mã kubet">Ưu đãi</a></li>
              </ul>
            </nav>
          </div>
        <div class="login col l1 m3 s3 right-align">
          <a href="http://dk.ku888.pro" target="_blank" class="btn-small orange accent-4 login">
            <span>Đăng Nhập</span></a>
          <a href="http://dk.ku888.pro" target="_blank" class="btn-small light-blue accent-4 register">
            <span>Đăng Ký</span></a>
          </div>
        </div>
      </div>
</div>
<ul id="slide-out" class="sidenav">
  <li><a href="/the-thao/">Thể Thao</a>
    <ul class='nav-child'>
      <li><a href="/the-thao/ket-qua-bong-da-nhanh-va-chinh-xac-nhat.html&id=4" alt="kết quả bóng đá">KQBD</a></li>
      <li><a href="/the-thao/soi-keo-nha-cai/3" alt="soi kèo nhà cái">soi kèo nhà cái</a></li>
      <li><a href="/the-thao/tin-bong-da/1" alt="tin bóng đá">tin bóng đá</a></li>
      <li><a href="/the-thao/video-bong-da/4" alt="video bóng đá">video bóng đá</a></li>
    </ul>
  </li>
  <li><a href="/ku-casino.html"><img src="{% static 'img/iconmc.png' %}" alt="KU CASINO"><span> Ku Casino</span></a></li>
  <li><a href="/xo-so/">Sổ Số</a>
    <ul class='nav-child'>
      <li><a href="/xo-so/xo-so-online.html" alt="kết quả sổ số">KQXS</a></li>
      <li><a href="/xo-so/soi-cau/2" alt="soi cầu">soi cầu</a></li>
      <li><a href="/xo-so/xo-mo.html" alt="sổ mơ">sổ mơ</a></li>
      <li><a href="/xo-so/giai-ma-giac-mo/6" alt="giải mã giấc mơ">giải mã giấc mơ</a></li>
    </ul>
  </li>
  <li><a href="/games/8" alt="games">games</a></li>
  <li><a href="ban-ca.html" alt="bắn cá">bắn cá</a></li>
  <li><a href="/huong-dan/" alt="hướng dẫn">hướng dẫn</a>
    <ul class='nav-child'>
      <li><a href="/huong-dan/huong-dan-dang-ky-tai-khoan-kubet.html&id=3" alt="hướng dẫn đăng ký">đăng ký</a></li>
      <li><a href="/huong-dan/huong-dan-tai-app-kubet-tren-iphone-va-android.html&id=16" alt="hướng dẫn tải app">tải app</a></li>
      <li><a href="/huong-dan/huong-dan-mo-khoa-nap-tien.html&id=17" alt="mở khóa nạp tiền">mở khóa nạp tiền</a></li>
      <li><a href="/huong-dan/huong-dan-nap-tien-vao-tai-khoan-kubet.html&id=18" alt="hướng dẫn nạp tiền">nạp tiền</a></li>
      <li><a href="/huong-dan/huong-dan-rut-tien-kubet-nhanh-chong.html&id=32" alt="hướng dẫn rút tiền">rút tiền</a></li>
    </ul>
  </li>
  <li><a href="/kinh-nghiem/" alt="kinh nghiệm">kinh nghiệm</a>
    <ul class='nav-child'>
      <li><a href="/cuoc-the-thao/13" alt="kinh nghiệm cược thể thao">cược thể thao</a></li>
      <li><a href="/choi-casino/14" alt="kinh nghiệm chơi casino">kinh nghiệm chơi casino</a></li>
      <li><a href="/choi-lo-de/15" alt="kinh nghiệm chơi lô đề">kinh nghiệm chơi lô đề</a></li>
      <li><a href="/choi-ban-ca/16" alt="kinh nghiệm chơi bắn cá">kinh nghiệm chơi bắn cá</a></li>
      <li><a href="/choi-game-slot/17" alt="kinh nghiệm chơi game slot">kinh nghiệm chơi game slot</a></li>
    </ul> 
  </li>
  <li><a href="/khuyen-mai/">Ưu đãi</a></li>
</ul>