{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- HTML Meta Tags -->
  <title>Tận hưởng những Khuyến mãi cá cược hấp dẫn chỉ có tại nhà cái KUBET</title>
  <meta name="description"
    content="Nhà cái KUBET là nhà cái uy tín lớn tại châu á với các ưu đãi như trải nghiệm miễn phí, hoàn trả cao cùng phần thưởng giới thiệu...">
  <link rel="canonical" href="https://kube368.com" />

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Tận hưởng những Khuyến mãi cá cược hấp dẫn chỉ có tại nhà cái KUBET">
  <meta itemprop="description"
    content="Nhà cái KUBET là nhà cái uy tín lớn tại châu á với các ưu đãi như trải nghiệm miễn phí, hoàn trả cao cùng phần thưởng giới thiệu...">
  <meta itemprop="image" content="{% static 'img/logo.png' %}">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://kube368.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Tận hưởng những Khuyến mãi cá cược hấp dẫn chỉ có tại nhà cái KUBET">
  <meta property="og:description"
    content="Nhà cái KUBET là nhà cái uy tín lớn tại châu á với các ưu đãi như trải nghiệm miễn phí, hoàn trả cao cùng phần thưởng giới thiệu...">
  <meta property="og:image" content="{% static 'img/logo.png' %}">

  <!-- end meta data SEO -->
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/_style.css' %}">
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149488326-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149488326-1');
  </script>
</head>